body {
    background-color: #848FA5;
    font-family: 'Montserrat', sans-serif;
}

.containerHeader{
    display: flex;
    justify-content:flex-end;
    width: 100%;
    text-align: center;
    background-color: #92c0db;
    font-weight: bold;
}

.containerHeader a {
    text-decoration: none;
    color:black;
}

.containerHeader nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em;
}

.containerHeader nav ul li{
    padding: 0 1em;
}

.containerAboutme {
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.textoAboutme h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 2em 0 1em 0;
}

.textoAboutme p {
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    padding: 0 6.5em;
}

.containerAboutme img{
    display: flex;
    height: 400px;
    padding: 0 9em 0 0 ;
    
}

.containerHabilidades {
    background: #CFE8F6;
    display: flex;
}

.containerHabilidades img {
    display: flex;
    height: 400px;
    padding: 0 4em 0 3em ; 
}

.textoHabilidades {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.textoHabilidades h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 100px;
    padding: 1.5em 3em 0 0;
}

.textoHabilidades nav {
    display: flex;
}

.textoHabilidades nav ul {
    display: flex;
    flex-flow: column;
    padding: 1em 4em 2em 0;
}

.textoHabilidades nav ul li {
    display: flex;
    text-align: center;
    font-weight: 300;
    padding: 0 0 5px 0;
}

.textoHabilidades nav ul h2 {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding: 0 0 1em 0;
    justify-content: left;
}

.containerCertificacoes {
    background: #D2EDFB;
    display: flex;
}

.containerCertificacoes img {
    display: flex;
    height: 400px;
    padding: 2em 9em 0 5em ;
    
}

.containerCertificacoes nav {
    display: flex;
    padding: 7em 6em 6em 6em;
}
.containerCertificacoes nav ul {
    display: flex;
    flex-flow: column;
}

.containerCertificacoes nav ul h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 0 0 2em 0;
}

.containerCertificacoes nav ul p{
    text-align: center;
    font-size: 20px;
    padding: 0 0 2em 0;
}


